header+div{
    padding: 40px 0 20px 0;
}
.navig>a:hover{
    opacity: 0.6;
}

/*------------------------------ Слайдер ------------------------------*/
.slider>.slide>img{
    margin: 40px 40px 35px 40px;
}
.slider>.circle{
    cursor: pointer;
    margin: 0;
}
.slider>.circle:hover{
    border: 1px solid #ed2132;
}
.slider-dots {
    text-align: center;
}
.dot{
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin-right: 7px;
    border: 1px solid #ed2132;
    border-radius: 50%;
    transition: background-color 0.6s ease;
    -webkit-transition: background-color 0.6s ease;
    -moz-transition: background-color 0.6s ease;
    -ms-transition: background-color 0.6s ease;
    -o-transition: background-color 0.6s ease;
}
.dot:last-child{
    margin: 0;
}
.active, .dot:hover {
    background-color: #ed2132;
}

/*------------------------------ Анимация слайдера ------------------------------*/
.slide {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.slider-dots+div>p{
    width: 65%;
    text-align: justify;
}
.slider-dots+div>p, input[type="range"]{
    margin: 50px 0;
}
.inst{
    margin: 45px 0;
}
.inst>a{
    padding: 15px 20px;
    border: 2px solid #ebebeb;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.inst>a>i{
    margin-left: 20px;
}
.inst>a:hover{
    border: 2px solid #ed2132;
    background: #ed2132;
    color: #ffffff;
}
.photos>img{
    width: 20%;
}

/*------------------------------ Ползунок ------------------------------*/
input[type="range"]{
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    height: 3px;
    background: #ebebeb;
    border: 1px solid #ebebeb;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
input[type="range"]::-moz-range-track{
    -moz-appearance: none;
    appearance: none;
    outline: none;
    height: 3px;
    background: #ebebeb;
    border: 1px solid #ebebeb;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    background: #ed2132;
    border: 2px solid #ed2132;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
input[type="range"]::-moz-range-thumb{
    -moz-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    background: #ed2132;
    border: 2px solid #ed2132;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
input[type="range"]::-webkit-slider-thumb:hover,
input[type="range"]::-webkit-slider-thumb:active{
    width: 24px;
    height: 24px;
    background: #ffffff;
}
input[type="range"]::-moz-range-thumb:hover,
input[type="range"]::-moz-range-thumb:active{
    width: 24px;
    height: 24px;
    background: #ffffff;
}