*{
    margin: 0; 
    padding: 0;
}
body, .banner, footer{
    width: 100%;
}
a{
    text-decoration: none;
    color: #4c4840;
}
.w-inh{
    width: inherit;
}
.h-inh{
    height: inherit;
}
.w1170{
    width: 1170px;
}
.w1140_pad15{
    width: 1140px;
    padding: 0 15px;
}
.bgr-wh{
    background: #ffffff;
}

/*------------------------------ Флексы ------------------------------*/
.d-flex{
    display: flex;
}
.row{
    flex-direction: row;
}
.col{
    flex-direction: column;
}
.wrap{
    flex-wrap: wrap;
}
.j-cen{
    justify-content: center;
}
.j-btw{
    justify-content: space-between;
}
.j-ar{
    justify-content: space-around;
}
.j-end{
    justify-content: flex-end;
}
.al-cen{
    align-items: center;
}

/*------------------------------ Шрифты ------------------------------*/
.font-b{
    font-family: 'ProximaNova-Bold';
}
.font-reg{
    font-family: 'ProximaNova-Regular';
}
.font-sb{
    font-family: 'ProximaNova-Semibold';
}
.dark{
    color: #4c4840;
}
.grey{
    color: #8a867e;
}
.l-grey{
    color: #9d988f;
}
.s14{
    font-size: 14px;
}
.s16{
    font-size: 16px;
}
.s18{
    font-size: 18px;
}
.s20{
    font-size: 20px;
}
.s24{
    font-size: 24px;
}
.h20{
    line-height: 20px;
}
.h23{
    line-height: 23px;
}
.h24{
    line-height: 24px;
}
.h62{
    line-height: 62.32px;
}