.deliv>p:first-child{
    margin-top: 75px;
}
.deliv>p:first-child, .deliv>p:nth-child(2){
    margin-bottom: 45px;
}
.deliv>p:nth-child(3){
    margin-bottom: 60px;
}
.deliv span, .fa-money, .fa-credit-card{
    color: #ed2132;
}
.deliv+div{
    height: 250px;
    margin-bottom: 90px;
    background: url(../img/delivbgr.png);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.deliv+div>div{
    background: #e70013;
    opacity: .7;
    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
}
.deliv+div>div>a{
    top: 35px;
    left: 45px;
    padding: 10px 25px;
    border: 1px dashed #ffffff;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}
.deliv+div>div>a:hover{
    background: #ffffff;
    color: #e70013;
}
.deliv+div>div>a, .deliv+div>div>p{
    color: #ffffff;
}
.deliv+div>div>.pos-abs:nth-child(2){
    top: 110px;
}
.deliv+div>div>.pos-abs:nth-child(2),
.deliv+div>div>.pos-abs:nth-child(3){
    left: 55px;
}
.deliv+div>div>.pos-abs:nth-child(3){
    bottom: 0;
}
.deliv+div>div>img{
    bottom: 0;
    right: 145px;
}
.zone, .pay{
    margin: 55px 0;
}
.zoneCircle{
    width: 25px;
    height: 25px;
    background: #ed2132;
    margin-right: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.fa-money, .fa-credit-card{
    margin: 0 20px 0 75px;
}