/*------------------------------ Хедер ------------------------------*/
header{
    height: 190px;
}
header>div:first-child{
    border-bottom: 1px solid #ebebeb;
}
header>div:first-child>div{
    height: 122px;
    background: center center url(../img/header-backgr.png) no-repeat;
}
.fa-angle-down, .fa-map-marker{
    font-size: 16px;
    font-weight: bold;
}
.fa-angle-down{
    color: #4c4840;
    margin-left: 5px;
}
.fa-map-marker{
    color: #f6041f;
    margin-right: 5px;
}
.group-header{
    height: 60px;
}
.group-small{
    width: 200px;
    height: 47px;
}
.circle{
    width: 45px;
    height: 45px;
    border: 1px solid #ebebeb;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.circle:first-child{
    margin-right: 13px;
}
.circle:last-child{
    margin-right: 30px;
}
.line-vert{
    width: 1px;
    background: #ebebeb;
}
header .fa-shopping-basket{
    font-size: 35px;
    margin-left: 30px;
    position: relative;
    float: left;
}
.count{
    width: 16px;
    height: 16px;
    background: #f6041f;
    font-size: 12px;
    line-height: 24px;
    color: #ffffff;
    position: absolute;
    right: -10px;
    top: -10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.in-cart{
    margin-left: 15px;
}
header>div:last-child{
    border-bottom: 1px solid #ebebeb;
}

/*------------------------------ Меню ------------------------------*/
.navbar{
    height: 67px;
}
.navbar>p>a{
    height: 64px;
    padding: 0 9px;
    text-decoration: none;
    border-top: 3px solid #ffffff;
}
.navbar>p>a:hover{
    border-top: 3px solid #f6041f;
}
.banner{
    height: 466px;
    background: url(../img/banner.png) 50% 10%;
}

/*------------------------------ Фильтры ------------------------------*/
.filter{
    height: 40px;
    margin-right: 20px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.filter:last-child{
    margin-right: 0;
}
.filter>i:first-child{
    margin-left: 15px;
}
.filter>p{
    margin: 0 10px;
}
.filter>i:last-child{
    margin-right: 15px;
}
.filter:hover{
    opacity: 0.8;
    cursor: pointer;
}
.filterActive{
    background: #f6041f;
    color: #ffffff;
}
.filterNoActive{
    background: #f3f2f3;
    color: #8a867e;
}

/*------------------------------ Каталог ------------------------------*/
.prod{
    width: 360px;
    height: 480px;
    margin-bottom: 30px;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.prod>div:first-child{
    height: 47px;
    margin-top: 10px;
}
.new, .discount{
    width: 55px;
    height: 25px;
    float: left;
    margin: 6px 0 0 29px;
    color: #ffffff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.new{
    background: #66a100;
}
.discount{
    background: #e44615;
}
.like{
    width: 86px;
    float: right;
    background: #faeded;
    color: #f6041f;
    border-radius: 15px 0 0 15px;
    -webkit-border-radius: 15px 0 0 15px;
    -moz-border-radius: 15px 0 0 15px;
    -ms-border-radius: 15px 0 0 15px;
    -o-border-radius: 15px 0 0 15px;
}
.like>i{
    margin-right: 8px;
}
.prod>img{
    width: 230px;
    margin-top: -10px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.prod>img:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.title:hover{
    cursor: pointer;
    color: #f6041f;
}
.prod>p.font-sb{
    width: 60%;
}
.prod>div:last-child{
    margin-bottom: 10px;
}
.prod>div:last-child>p{
    margin-left: 30px;
}
.prod button{
    padding: 10px 20px;
    border: 2px solid #f6041f;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.prod button:hover{
    background: #f6041f;
    color: #ffffff;
    cursor: pointer;
}
.prod .fa-shopping-basket{
    margin-right: 10px;
}
.showMore{
    padding: 10px 20px;
    background: none;
    margin: 10px 0 40px 0;
    border: 2px solid #ffffff;
}
.showMore>i{
    color: #f6041f;
    font-size: 30px;
    margin-right: 10px;
}
.showMore:hover{
    cursor: pointer;
    border: 2px solid #f6041f;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

/*------------------------------ Акции ------------------------------*/
.stocks{
    margin-bottom: 45px;
}
.stocksAll{
    padding: 15px 20px;
    border: 2px solid #ebebeb;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.stocksAll>i{
    margin-left: 20px;
}
.stocksAll:hover{
    border: 2px solid #ed2132;
    background: #ed2132;
    color: #ffffff;
}
.stock{
    width: 48%;
    height: 240px;
    margin-bottom: 75px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.stock:first-child{
    background: #ed9e4b;
}
.stock:first-child>div{
    background: center right url(../img/strock-1.png) no-repeat;
}
.stock:nth-child(2){
    background: #e84d1d;
}
.stock:nth-child(2)>div{
    background: center right url(../img/strock-2.png) no-repeat;
}
.stock>div>div{
    width: 50%;
    padding-left: 25px;
}
.stock>div>div>p{
    color: #ffffff;
}
.stock-num{
    width: 50%;
    padding: 10px 20px;
    border: 1px dashed #ffffff;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

/*------------------------------ Доставка ------------------------------*/
.deliv>p:first-child{
    margin-bottom: 45px;
}
.deliv>p:last-child, .deliv+div{
    margin-bottom: 75px;
}
.deliv+div>div{
    height: 340px;
    padding: 0 70px;
    background: center right url(../img/delivloc.png) no-repeat;
}
.deliv+div>div>a{
    top: 35px;
    left: 45px;
    padding: 20px 25px;
    border: 1px dashed #ed2132;
    color: #ed2132;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}
.deliv+div>div>a:hover{
    background: #ed2132;
    color: #ffffff;
}
.deliv+div>div>p{
    margin-top: 45px;
}
.deliv+div>div>p:last-child{
    margin-top: 0;
}

/*------------------------------ Футер ------------------------------*/
footer{
    height: 431px;
    border-top: 1px solid #ebebeb;
}
footer>div:first-child{
    height: 307px;
}
footer>div:first-child i{
    margin: 0 20px 0 3px;
}
footer>div:first-child>div>div:first-child,
footer>div:first-child>div>div:first-child+div,
footer>div:first-child>div>div:first-child+div+div,
footer>div:first-child>div>div:last-child{
    height: 262px;
    padding-top: 45px;
}
footer>div:first-child>div>div:first-child+div>a>p:hover,
footer>div:first-child>div>div:first-child+div+div>a>p:hover{
    color: #f6041f;
}
footer>div:first-child>div>div:first-child{
    width: 210px;
}
footer>div:first-child>div>div:first-child+div{
    width: 145px;
}
footer>div:first-child>div>div:last-child{
    width: 230px;
}
footer>div:first-child>div>div:last-child>p:nth-child(2){
    margin: -30px 0 10px 0;
}
footer>div:nth-child(2){
    height: 123px;
}
footer>div:nth-child(2)>div{
    border-top: 1px solid #ebebeb;
}
footer>div:nth-child(2)>div>div{
    width: 360px;
}
footer>div:last-child>div>div>div>a:last-child>.social{
    margin-right: 0;
}
.social{
    width: 44px;
    height: 44px;
    margin-right: 10px;
    font-size: 20px;
    border: 2px solid #ededed;
    border-radius: 30%;
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
    -ms-border-radius: 30%;
    -o-border-radius: 30%;
}
.social:hover{
    background-color: #f6041f;
    color: #ffffff;
    border: 2px solid #f6041f;
}